Repository WordPress/twentytwentyfive, pull requests merged in 2024-08, with the labels that each got.

#48 Add default color palette
  theme.json
Labels: [Component] theme.json

#49 Add spacing sizes
  theme.json
Labels: [Component] theme.json

#18 Add Linters for PHP and CSS
  .editorconfig
  .github/workflows/lint.yml
  .gitignore
  .nvmrc
  .stylelintrc.json
  README.md
  composer.json
  composer.lock
  package-lock.json
  package.json
  phpcs.xml.dist
  style.css
Labels: [Type] Enhancement

#95 Use wp cli to set development mode true
  README.md
Labels: [Type] Documentation, Good First Review

#52 Add headers
  parts/header.html
  patterns/header-centered.php
  patterns/header-columns.php
  patterns/header-large-title.php
  patterns/header.php
  templates/index.html
  theme.json
Labels: [Component] Block Patterns, [Component] Template Parts

#93 Add font sizes
  theme.json
Labels: [Component] theme.json, [Status] Needs Design Feedback

#100 Remove duplicate typography settings
  theme.json
Labels: [Type] Bug, [Component] theme.json

#102 Remove link underline for site title.
  .gitignore
  theme.json
Labels: [Component] theme.json

#50 The TT5 Theme description added
  readme.txt
  style.css
Labels: [Type] Documentation, Good First Review

#101 Fix order for Literata font
  theme.json
Labels: [Component] theme.json

#54 Add footers
  functions.php
  parts/footer.html
  patterns/footer-centered.php
  patterns/footer-columns.php
  patterns/footer-newsletter.php
  patterns/footer-social.php
  patterns/footer.php
  theme.json
Labels: [Component] Block Patterns, [Component] Template Parts

#96 Block Pattern: Contact - Centered link and social links
  patterns/contact-centered-social-link.php
Labels: [Status] Needs Design Feedback

#106 Fix heading sizes
  theme.json
Labels: [Component] theme.json

#116 Update the value of the opacity-20 color in the default palette
  theme.json
Labels: [Type] Bug, [Component] theme.json

#94 Try link and focus styles
  assets/css/editor-style.css
  functions.php
  style.css
Labels: [Status] In discussion

#107 Add optional color palettes
  styles/afternoon.json
  styles/dusk.json
  styles/evening.json
  styles/midnight.json
  styles/morning.json
  styles/noon.json
  styles/sunrise.json
  styles/twilight.json
  theme.json
Labels: [Component] Style Variations

#112 Add pattern: Hero Centered heading
  patterns/hero-centered-heading.php
  theme.json
Labels: [Component] Block Patterns

#129 Fix headers and footers layout and spacing.
  patterns/footer-centered.php
  patterns/footer-columns.php
  patterns/footer-newsletter.php
  patterns/footer-social.php
  patterns/footer.php
  patterns/header-centered.php
  patterns/header-columns.php
  patterns/header-large-title.php
  patterns/header.php
Labels: [Component] Block Patterns, [Component] Template Parts, [Status] Needs Design Feedback

#111 Add pattern: Contact - Location and directions link
  assets/images/location.webp
  patterns/contact-location-and-link.php
  readme.txt
Labels: [Component] Block Patterns

#140 Claim copyright for contributors.
  readme.txt
Labels: [Type] Documentation

#144 Personal blog: Misc width changes
  patterns/post-navigation.php
  patterns/posts-personal-blog.php
  templates/single.html
Labels: [Type] Bug

#114 Add pattern: Services - Three Columns
  assets/images/image-from-rawpixel-id-2211732.webp
  assets/images/image-from-rawpixel-id-2222755.webp
  assets/images/image-from-rawpixel-id-2224378.webp
  patterns/services-three-columns.php
  readme.txt
Labels: [Component] Block Patterns

#110 Add typography presets
  styles/typography/typography-preset-1.json
  styles/typography/typography-preset-2.json
  styles/typography/typography-preset-3.json
  styles/typography/typography-preset-4.json
  styles/typography/typography-preset-5.json
  styles/typography/typography-preset-6.json
  styles/typography/typography-preset-7.json
Labels: [Type] Enhancement, [Component] theme.json, [Component] Style Variations, [Priority] High

#141 Block style: Code
  theme.json
Labels: [Component] theme.json

#143 Add images directory link to readme.
  README.md
Labels: [Type] Documentation

#153 Try: Reduce typography and spacing presets to use 1-click controls
  theme.json
Labels: [Type] Enhancement

#151 Try: Add 3 section styles, update Hero: Centered Heading pattern.
  patterns/contact-location-and-link.php
  patterns/hero-centered-heading.php
  patterns/two-headings-and-a-list.php
  styles/blocks/section-1.json
  styles/blocks/section-2.json
  styles/blocks/section-3.json
Labels: [Component] Block Patterns

#162 Try: Update font-size slugs+names to match T-shirt sizes.
  patterns/contact-centered-social-link.php
  patterns/contact-location-and-link.php
  patterns/footer-centered.php
  patterns/footer-columns.php
  patterns/footer-newsletter.php
  patterns/footer-social.php
  patterns/footer.php
  patterns/header-centered.php
  patterns/posts-personal-blog.php
  patterns/services-three-columns.php
  patterns/two-headings-and-a-list.php
  templates/home.html
  templates/index.html
  templates/page.html
  templates/search.html
  templates/single.html
  theme.json
Labels: [Type] Enhancement, [Priority] High

#123 Add patterns for the Photo blog
  patterns/hidden-no-results-centered.php
  patterns/photo-blog-archive-template.php
  patterns/photo-blog-home-template.php
  patterns/photo-blog-page-template.php
  patterns/photo-blog-posts.php
  patterns/photo-blog-search-results-template.php
  patterns/photo-blog-single-post-template.php
Labels: [Status] Needs Design Feedback, [Priority] High
