Repository WordPress/twentytwentyfive, pull requests merged in 2024-09, with the labels that each got.

#145 Personal Blog Templates: Text-only alternative
  patterns/text-only-blog-archive-template.php
  patterns/text-only-blog-home-template.php
  patterns/text-only-blog-posts.php
  patterns/text-only-blog-search-template.php
  patterns/text-only-blog-single-post-template.php
  theme.json
Labels: [Component] Block Patterns

#155 Adds templates for Complex blog (News)
  parts/sidebar.html
  patterns/hidden-sidebar.php
  patterns/news-blog-archive-template.php
  patterns/news-blog-home-template.php
  patterns/news-blog-search-results-template.php
  patterns/news-blog-single-post-with-sidebar-template.php
Labels: [Component] Block Patterns, [Component] Templates, [Component] Template Parts

#163 Add two new section styles, and
  patterns/clients-section.php
  patterns/contact-location-and-link.php
  styles/blocks/section-4.json
  styles/blocks/section-5.json
Labels: [Type] Enhancement, Gutenberg

#156 Try: Add comments.
  patterns/comments.php
  templates/single.html
  theme.json
Labels: [Component] Block Patterns, [Component] Template Parts

#137 Pattern: About - Image on the right, heading and paragraph
  assets/images/image-from-rawpixel-id-8803077-original.webp
  patterns/heading-and-paragraph-with-image.php
  readme.txt
Labels: [Component] Block Patterns

#173 Add the 70px font size as a custom CSS property in theme.json
  patterns/contact-centered-social-link.php
  theme.json
Labels: [Type] Enhancement, [Component] Block Patterns, [Component] theme.json

#168 Pattern: More posts ( Previously "other posts")
  patterns/more-posts.php
  templates/archive.html
  templates/home.html
  templates/index.html
  templates/search.html
  templates/single.html
Labels: [Component] Block Patterns

#181 Fix: "Contact centered and social" pattern width.
  patterns/contact-centered-social-link.php
Labels: [Component] Block Patterns

#125 Add pattern: Contact: Info and locations
  patterns/contact-info-locations.php
Labels: [Component] Block Patterns

#126 Services Team Photos
  assets/images/team_photo_1.webp
  assets/images/team_photo_2.webp
  assets/images/team_photo_3.webp
  assets/images/team_photo_4.webp
  patterns/services-team-photos.php
  readme.txt
Labels: [Component] Block Patterns

#177 Add: CTA - Newsletter Sign Up Pattern
  patterns/newsletter-signup.php
Labels: [Component] Block Patterns

#146 Personal Blog Templates: Vertical header, right aligned alternative
  parts/right-aligned-sidebar.html
  patterns/vertical-header-right-aligned-archive-template.php
  patterns/vertical-header-right-aligned-home-template.php
  patterns/vertical-header-right-aligned-page-template.php
  patterns/vertical-header-right-aligned-post-template.php
  patterns/vertical-header-right-aligned-posts.php
  patterns/vertical-header-right-aligned-search-results-template.php
  patterns/vertical-header-right-aligned-sidebar.php
Labels: [Component] Block Patterns, [Component] Templates, [Component] Template Parts, [Priority] High

#178 Add: CV/Bio Pattern
  assets/images/cv-bio.webp
  patterns/cv-bio.php
Labels: [Component] Block Patterns

#128 Pattern: Intro: Short heading and paragraph and image on the right
  assets/images/botany-flowers.webp
  patterns/intro-short-heading-image.php
  readme.txt
Labels: [Component] Block Patterns

#148 Add pattern: Hero - Full-width cover image, heading and short paragraph
  assets/images/image-from-rawpixel-id-8802603-original.webp
  patterns/hero-full-width-image.php
  readme.txt
Labels: [Component] Block Patterns

#209 Fix block validation error in the "right aligned" page template
  patterns/vertical-header-right-aligned-page-template.php
Labels: [Type] Bug

#165 Add: Services - Two-column boxed pricing table
  functions.php
  patterns/cta-pricing.php
  patterns/services-three-columns.php
Labels: [Component] Block Patterns

#157 Try: Add buttons styles.
  assets/css/button-outline.css
  functions.php
  theme.json
Labels: [Component] theme.json

#202 Add: Link in bio heading, paragraph, links and full-height image pattern
  assets/images/link-in-bio-background.webp
  patterns/link-in-bio-heading-paragraph-links-image.php
  readme.txt
Labels: [Component] Block Patterns

#210 Create pill style variation
  styles/blocks/pill.json
Labels: [Component] Style Variations

#204 Add Link in bio with profile, links and wide margins pattern
  patterns/link-in-bio-wide-margins.php
Labels: [Component] Block Patterns

#201 Add: Cover with big heading pattern
  assets/images/coming-soon-bg-image.webp
  patterns/cover-big-heading.php
  readme.txt
Labels: [Component] Block Patterns

#166 Big heading and search form pattern
  patterns/search-big-heading.php
  theme.json
Labels: [Component] Block Patterns

#200 Add banner with description & images grid pattern
  assets/images/grid-flower-1.webp
  assets/images/grid-flower-2.webp
  patterns/banner-with-description-and-images-grid.php
  readme.txt
Labels: [Component] Block Patterns

#194 Add: Full-width cover banner pattern
  patterns/page-full-width-cover-banner.php
Labels: [Component] Block Patterns

#172 Update the markup of the footers
  patterns/footer-centered.php
  patterns/footer-columns.php
  patterns/footer-newsletter.php
  patterns/footer-social.php
  patterns/footer.php
Labels: [Component] Block Patterns

#212 Visual adjustments to header with large title
  patterns/header-large-title.php
Labels: [Type] Enhancement

#217 Updated Typography Presets in styles/typography
  styles/typography/typography-preset-1.json
  styles/typography/typography-preset-2.json
  styles/typography/typography-preset-3.json
  styles/typography/typography-preset-4.json
  styles/typography/typography-preset-5.json
  styles/typography/typography-preset-6.json
  styles/typography/typography-preset-7.json
Labels: [Component] theme.json

#230 Wrap functions in `function_exists` conditional for consistency.
  functions.php
Labels: [Type] Enhancement

#242 Style quote and pull quote according to the design in theme.json
  theme.json
Labels: [Component] theme.json

#247 Add starter patterns.
  patterns/page-coming-soon.php
  patterns/page-cv-bio.php
  patterns/page-link-in-bio-heading-paragraph-links-image.php
  patterns/page-link-in-bio-wide-margins.php
Labels: [Type] Enhancement

#238 theme.json missing all templateParts of parts folder.
  theme.json
Labels: [Component] theme.json

#176 Add: CTA - Event RSVP Pattern
  assets/images/image-from-rawpixel-id-8812207.webp
  patterns/event-rsvp.php
  readme.txt
Labels: [Component] Block Patterns

#182 Add: Events – List with Call to Action
  patterns/events-list-with-cta.php
Labels: [Component] Block Patterns

#211 Add Event schedule pattern
  assets/images/agenda-img-1.webp
  assets/images/agenda-img-2.webp
  assets/images/agenda-img-3.webp
  assets/images/agenda-img-4.webp
  patterns/event-schedule.php
  readme.txt
Labels: [Component] Block Patterns

#226 Add: Grid with categories pattern
  assets/images/category-anthuriums.webp
  assets/images/category-cactus.webp
  assets/images/category-sunflowers.webp
  patterns/grid-with-categories.php
  readme.txt
Labels: [Component] Block Patterns

#225 Add: Instagram grid pattern
  assets/images/agenda-img-1.webp
  assets/images/agenda-img-2.webp
  assets/images/agenda-img-3.webp
  assets/images/agenda-img-4.webp
  assets/images/coral-square.webp
  assets/images/dallas-creek-square.webp
  assets/images/fair-sauimatani-square.webp
  assets/images/flower-meadow-square.webp
  assets/images/marshland-birds-square.webp
  assets/images/parthenon-square.webp
  assets/images/vash-gon-square.webp
  patterns/event-schedule.php
  patterns/instagram-grid.php
  readme.txt
Labels: [Component] Block Patterns

#196 Services - Subscriber only section
  assets/images/services-subscriber-photo.webp
  patterns/services-subscriber-only-section.php
  readme.txt
Labels: [Component] Block Patterns

#185 Add pattern events - three columns with images and title (static)
  assets/images/image-from-rawpixel-id-8802835-jpeg-scaled.webp
  patterns/events-three-columns-images-and-titles.php
  readme.txt
Labels: [Component] Block Patterns, [Status] Needs Design, [Status] Needs Design Feedback

#267 Add - about FAQs pattern
  patterns/text-faqs.php
Labels: [Component] Block Patterns

#228 Grid with videos
  patterns/grid-videos.php
Labels: [Component] Block Patterns

#269 Add custom font sizes for headings.
  theme.json
Labels: [Component] theme.json

#271 Visual adjustments to default blog templates
  patterns/hidden-404.php
  templates/index.html
  templates/page.html
  templates/single.html
  theme.json
Labels: [Type] Enhancement

#270 Use custom font size headings for definitions
  theme.json
Labels: [Component] theme.json

#264 Add portfolio homepage pattern
  patterns/page-portfolio-home.php
Labels: [Component] Block Patterns

#265 Visual adjustments to Photo Blog templates to match design
  patterns/photo-blog-home-template.php
  patterns/photo-blog-search-results-template.php
  patterns/photo-blog-single-post-template.php
  theme.json
Labels: [Component] Templates

#206 Move the color palette presets to a subfolder under styles
  styles/colors/01-evening.json
  styles/colors/02-noon.json
  styles/colors/03-dusk.json
  styles/colors/04-afternoon.json
  styles/colors/05-twilight.json
  styles/colors/06-morning.json
  styles/colors/07-sunrise.json
  styles/colors/08-midnight.json
Labels: [Type] Enhancement, [Component] Style Variations

#282 Remove all Categories: hidden in the pattern files
  patterns/hidden-sidebar.php
  patterns/news-blog-home-template.php
  patterns/news-blog-with-featured-posts-grid-template.php
  patterns/news-blog-with-sidebar-template.php
  patterns/offset-post-no-featured-image-template.php
  patterns/post-with-left-aligned-content.php
  patterns/vertical-header-right-aligned-sidebar.php
Labels: [Type] Enhancement

#281 Fix pill border color style, add missing pill and miscellaneous adjustments.
  patterns/banner-with-description-and-images-grid.php
  patterns/grid-videos.php
  patterns/page-coming-soon.php
  patterns/photo-blog-home-template.php
  styles/blocks/pill.json
Labels: [Type] Bug

#283 Add landing page for podcast and event
  patterns/page-landing-event.php
  patterns/page-landing-podcast.php
Labels: [Component] Templates

#297 Fine tune "Team photos" pattern
  assets/images/team-photo-1.webp
  assets/images/team-photo-2.webp
  assets/images/team-photo-3.webp
  assets/images/team-photo-4.webp
  assets/images/team_photo_1.webp
  assets/images/team_photo_2.webp
  assets/images/team_photo_3.webp
  assets/images/team_photo_4.webp
  patterns/services-team-photos.php
  readme.txt
Labels: [Type] Enhancement, [Component] Block Patterns

#284 Add news blog and archive query loop pattern
  parts/footer-newsletter.html
  patterns/news-blog-archive-template.php
  patterns/news-blog-home-template.php
  patterns/news-blog-query-loop.php
  patterns/news-blog-search-results-template.php
  patterns/news-blog-single-post-with-sidebar-template.php
  patterns/news-blog-with-featured-posts-grid-template.php
  patterns/news-blog-with-sidebar-template.php
  theme.json
Labels: [Type] Bug

#280 Added missing <main> to template partterns starting with name vertical-header-right
  patterns/vertical-header-right-aligned-archive-template.php
  patterns/vertical-header-right-aligned-home-template.php
  patterns/vertical-header-right-aligned-page-template.php
  patterns/vertical-header-right-aligned-post-template.php
  patterns/vertical-header-right-aligned-search-results-template.php
Labels: [Component] Block Patterns, [Priority] High

#296 Add: CTA book locations and CTA book links patterns.
  patterns/cta-book-links.php
  patterns/cta-book-locations.php
Labels: [Component] Block Patterns

#299 Add: Book hero and Banner with book description patterns.
  assets/images/book-image-landing.webp
  patterns/banner-about-book.php
  patterns/hero-book.php
  readme.txt
Labels: [Component] Block Patterns

#327 Vertical header, right aligned blog: Adjusts excerpt length and post title size
  patterns/vertical-header-right-aligned-posts.php
Labels: [Component] Templates

#322 News blog single post: Move the post date below the post title
  patterns/news-blog-single-post-with-sidebar-template.php
Labels: Accessibility (a11y), [Component] Block Patterns, [Status] Needs Design Feedback

#21 Add a block binding and pattern for the copyright date
  functions.php
  patterns/copyright.php
  patterns/page-portfolio-home.php
Labels: [Type] Enhancement, [Component] Block Patterns

#329 Remove the default palette, gradient and duotone
  theme.json
Labels: [Type] Enhancement, [Component] theme.json

#167 Services - Three-column boxed pricing table
  patterns/services-three-column-boxed-pricing-table.php
Labels: [Component] Block Patterns, [Priority] High

#321 Text-only single post: Move the category below the title
  patterns/text-only-blog-single-post-template.php
Labels: [Type] Bug, Accessibility (a11y), [Component] Block Patterns

#317 Add <main> to "Post with left-aligned content".
  patterns/post-with-left-aligned-content.php
Labels: [Type] Bug, Accessibility (a11y), [Component] Block Patterns

#320 Default single post template: Move the category below the title
  patterns/hidden-written-by.php
  templates/single.html
Labels: [Type] Bug, Accessibility (a11y), [Component] Block Patterns, [Component] Templates

#318 Add <main> to "Offset post without featured image"
  patterns/offset-post-no-featured-image-template.php
  patterns/template-single-offset.php
Labels: [Type] Bug, Accessibility (a11y), [Component] Block Patterns

#341 Fix: Add description to landing pages.
  patterns/page-landing-event.php
  patterns/page-landing-podcast.php
Labels: [Type] Enhancement

#338 All patterns that are not hidden needs a description #290
  patterns/clients-section.php
  patterns/contact-centered-social-link.php
  patterns/contact-location-and-link.php
  patterns/cover-big-heading.php
  patterns/cta-pricing.php
Labels: [Component] Block Patterns

#118 Add patterns: Testimonials
  assets/images/3906400735_8f0fa9231d_o.webp
  assets/images/image-from-rawpixel-id-5918459.webp
  assets/images/team_photo_3.webp
  patterns/testimonials-review-large-image-right.php
  patterns/testimonials-three-columns-six-testimonials.php
  patterns/testimonials-two-columns-avatar.php
  readme.txt
  theme.json
Labels: [Component] Block Patterns, [Status] Needs Design Feedback, [Priority] High

#363 Remove unused image and rename images
  assets/images/3906400735_8f0fa9231d_o.webp
  assets/images/avatar.webp
  assets/images/team-photo-3-976x976.webp
  patterns/testimonials-review-large-image-right.php
  patterns/testimonials-two-columns-avatar.php
  readme.txt
Labels: [Type] Enhancement

#339 Add: Landing page for book.
  patterns/banner-about-book.php
  patterns/hero-book.php
  patterns/page-landing-book.php
  patterns/text-faqs.php
Labels: [Component] Block Patterns

#356 Remove default margin
  patterns/contact-location-and-link.php
Labels: [Type] Enhancement

#353 Make comment pattern translation ready
  patterns/comments.php
Labels: [Type] Enhancement, Internationalization (i18n)

#364 Add pattern: Overlap Images With Paragraph
  assets/images/image-from-rawpixel-id-8799471.webp
  patterns/overlap-images-and-paragraph.php
Labels: [Component] Block Patterns, [Priority] High

#309 Hero overlapped book cover pattern for #86
  assets/images/book-image.webp
  patterns/hero-overlapped-book-cover-with-links.php
  readme.txt
Labels: [Component] Block Patterns, [Priority] High

#358 Add theme-utils
  README.md
  package-lock.json
  package.json
  theme-utils.mjs
Labels: [Type] Enhancement

#365 Separator: Set a max width on the wide style variation
  theme.json
Labels: [Type] Bug

#208 Add dusk style variation
  styles/dusk.json
Labels: [Type] Enhancement, [Component] Style Variations, [Status] Needs Design Feedback, [Priority] High

#357 Make string in search template translatable. Re: #160
  patterns/hidden-search.php
  templates/search.html
Labels: [Type] Enhancement, Internationalization (i18n)

#354 adds translations to aria-labels in patterns
  patterns/news-blog-single-post-with-sidebar-template.php
  patterns/photo-blog-single-post-template.php
  patterns/post-navigation.php
  patterns/post-with-left-aligned-content.php
  patterns/template-single-offset.php
  patterns/text-only-blog-single-post-template.php
  patterns/vertical-header-right-aligned-post-template.php
Labels: [Type] Enhancement, Internationalization (i18n)

#343 Pattern review: CTA Pricing, clients and banner with description patterns.
  patterns/banner-with-description-and-images-grid.php
  patterns/clients-section.php
  patterns/cta-pricing.php
Labels: [Type] Enhancement

#376 Fix: Use translation function with context.
  patterns/photo-blog-single-post-template.php
Labels: [Type] Enhancement

#371 Fix: Remove duplicate sidebar template.
  parts/right-aligned-sidebar.html
  patterns/vertical-header-right-aligned-page-template.php
  patterns/vertical-header-right-aligned-post-template.php
  theme.json
Labels: [Type] Enhancement, [Component] Template Parts

#374 Fix: Remove top and bottom margin 0 on full width patterns
  patterns/banner-about-book.php
  patterns/banner-with-description-and-images-grid.php
  patterns/clients-section.php
  patterns/contact-centered-social-link.php
  patterns/contact-info-locations.php
  patterns/cover-big-heading.php
  patterns/cta-book-links.php
  patterns/cta-book-locations.php
  patterns/cta-pricing.php
  patterns/events-list-with-cta.php
  patterns/events-three-columns-images-and-titles.php
  patterns/footer-columns.php
  patterns/footer.php
  patterns/grid-videos.php
  patterns/heading-and-paragraph-with-image.php
  patterns/hero-centered-heading.php
  patterns/hero-podcast.php
  patterns/link-in-bio-with-tight-margins.php
  patterns/newsletter-signup.php
  patterns/page-landing-book.php
  patterns/page-landing-event.php
  patterns/page-landing-podcast.php
  patterns/poster-like-section.php
  patterns/services-subscriber-only-section.php
  patterns/services-three-column-boxed-pricing-table.php
  patterns/services-three-columns.php
  patterns/testimonials-review-large-image-right.php
  patterns/testimonials-three-columns-six-testimonials.php
  patterns/testimonials-two-columns-avatar.php
  patterns/text-faqs.php
  patterns/two-headings-and-a-list.php
Labels: [Type] Enhancement, [Component] Block Patterns

#378 Fix: Move link in bio (single page) patterns out of "About"
  patterns/page-link-in-bio-heading-paragraph-links-image.php
  patterns/page-link-in-bio-wide-margins.php
  patterns/page-link-in-bio-with-tight-margins.php
Labels: [Type] Enhancement, [Component] Block Patterns

#379 Fix: Improve the mobile version of "Events - List with Call to Action" pattern.
  patterns/events-list-with-cta.php
Labels: [Type] Enhancement

#380 Update Book and Podcast hero pattern from using h2 to h1
  patterns/hero-book.php
  patterns/hero-podcast.php
Labels: Accessibility (a11y), [Component] Block Patterns

#377 Fix: Fine tune search block, and use it in different search results templates.
  patterns/hidden-404.php
  patterns/hidden-search.php
  patterns/news-blog-search-results-template.php
  patterns/photo-blog-search-results-template.php
  patterns/text-only-blog-search-template.php
  patterns/vertical-header-right-aligned-search-results-template.php
  theme.json
Labels: [Type] Enhancement

#372 Enhancement: Make footers translatable.
  patterns/footer-centered.php
  patterns/footer-columns.php
  patterns/footer-newsletter.php
  patterns/footer-social.php
  patterns/footer.php
Labels: [Type] Enhancement, [Component] Template Parts

#386 Fix: Remove `queryId` from query blocks.
  patterns/hero-overlapped-book-cover-with-links.php
  patterns/hidden-sidebar.php
  patterns/news-blog-home-template.php
  patterns/news-blog-query-loop.php
  patterns/news-blog-single-post-with-sidebar-template.php
  patterns/news-blog-with-featured-posts-grid-template.php
  patterns/news-blog-with-sidebar-template.php
  patterns/page-portfolio-home.php
  patterns/vertical-header-right-aligned-posts.php
Labels: [Type] Enhancement

#324 Adds pattern for hero left align description
  patterns/intro-left-aligned-description.php
Labels: [Component] Block Patterns

#268 Add Midnight variation
  styles/colors/08-midnight.json
  styles/midnight-combined.json
Labels: [Component] Style Variations, [Priority] High

#232 Add: Twilight style variation
  styles/03-dusk.json
  styles/05-twilight.json
  styles/colors/05-twilight.json
Labels: [Component] Style Variations, [Priority] High

#261 Add: Morning style variation.
  styles/morning.json
Labels: [Component] Style Variations, [Status] Needs Design Feedback, [Priority] High

#390 Create CTA: grid with products and link pattern, alt
  assets/images/image-from-rawpixel-id-8799918.webp
  assets/images/image-from-rawpixel-id-8802845.webp
  patterns/cta-grid-products-link.php
  readme.txt
Labels: [Component] Block Patterns

#273 Create CTA: grid with products and link pattern #68
  patterns/cta-grid-products-link.php
Labels: [Component] Block Patterns, [Priority] High

#397 Removing extraneous padding left and right from patterns
  patterns/banner-about-book.php
  patterns/banner-with-description-and-images-grid.php
  patterns/clients-section.php
  patterns/contact-info-locations.php
  patterns/contact-location-and-link.php
  patterns/cover-big-heading.php
  patterns/cta-book-links.php
  patterns/cta-book-locations.php
  patterns/cta-centered-heading.php
  patterns/cta-events-list.php
  patterns/cta-heading-search.php
  patterns/footer-centered.php
  patterns/footer-columns.php
  patterns/footer-newsletter.php
  patterns/footer-social.php
  patterns/footer.php
  patterns/grid-videos.php
  patterns/header.php
  patterns/heading-and-paragraph-with-image.php
  patterns/hero-full-width-image.php
  patterns/hero-podcast.php
  patterns/intro-left-aligned-description.php
  patterns/logos.php
  patterns/overlap-images-and-paragraph.php
  patterns/page-coming-soon.php
  patterns/page-landing-podcast.php
  patterns/pricing-2-col.php
  patterns/pricing-3-col.php
  patterns/two-headings-and-a-list.php
  patterns/vertical-header.php
Labels: [Type] Enhancement

#406 Try: Fix quote styles.
  theme.json
Labels: [Type] Bug

#334 Add: Sunrise style variation.
  styles/06-morning.json
  styles/07-sunrise.json
  theme.json
Labels: [Component] Style Variations, [Priority] High

#396 Try: Use copyright in footer instead of `Twenty Twenty-Five` string.
  patterns/copyright.php
  patterns/footer-columns.php
  patterns/footer-newsletter.php
  patterns/footer.php
  patterns/page-portfolio-home.php
Labels: [Type] Enhancement

#410 Fix: Patterns previews
  patterns/event-rsvp.php
  patterns/grid-with-categories.php
  patterns/instagram-grid.php
Labels: [Type] Bug

#424 Vertical header: Fix block validation error
  patterns/vertical-header.php
Labels: [Type] Bug, [Component] Block Patterns

#394 News blog templates: Add main element
  patterns/news-blog-archive-template.php
  patterns/news-blog-home-template.php
  patterns/news-blog-search-results-template.php
  patterns/news-blog-single-post-with-sidebar-template.php
  patterns/news-blog-with-featured-posts-grid-template.php
  patterns/news-blog-with-sidebar-template.php
Labels: [Type] Bug, Accessibility (a11y)

#425 Fix: Add spacers in empty covers, and fullwidth group wrapper to "Grid" pattern.
  patterns/cta-grid-products-link.php
  patterns/event-rsvp.php
  patterns/hero-book.php
Labels: [Type] Enhancement

#426 Update pattern text to refer to a new fictional person.
  patterns/page-cv-bio.php
  patterns/page-link-in-bio-wide-margins.php
  patterns/services-team-photos.php
Labels: [Type] Enhancement

#429 News blog home: Repair the width of the post sections
  patterns/news-blog-home-template.php
Labels: [Type] Bug

#392 Update: Try fixing the text wrapping of the site title
  patterns/footer.php
Labels: [Type] Bug

#421 Add better core/columns spacing blockGap default
  theme.json
Labels: [Type] Enhancement, [Component] theme.json

#432 Alt: Just the new text-styles
  styles/blocks/01-display.json
  styles/blocks/02-subtitle.json
  styles/blocks/03-annotation.json
Labels: [Type] Enhancement

#434 Add: Business & shop homepages
  patterns/page-business-home.php
  patterns/page-shop-home.php
Labels: [Type] Enhancement, [Priority] High

#435 Update: remove default attributes from template part blocks in templates
  patterns/news-blog-archive-template.php
  patterns/news-blog-home-template.php
  patterns/news-blog-search-results-template.php
  patterns/news-blog-single-post-with-sidebar-template.php
  patterns/news-blog-with-featured-posts-grid-template.php
  patterns/news-blog-with-sidebar-template.php
  patterns/photo-blog-archive-template.php
  patterns/photo-blog-home-template.php
  patterns/photo-blog-page-template.php
  patterns/photo-blog-search-results-template.php
  patterns/photo-blog-single-post-template.php
  patterns/post-with-left-aligned-content.php
  patterns/template-single-offset.php
  patterns/text-only-blog-archive-template.php
  patterns/text-only-blog-home-template.php
  patterns/text-only-blog-search-template.php
  patterns/text-only-blog-single-post-template.php
  patterns/vertical-header-right-aligned-archive-template.php
  patterns/vertical-header-right-aligned-home-template.php
  patterns/vertical-header-right-aligned-page-template.php
  patterns/vertical-header-right-aligned-post-template.php
  patterns/vertical-header-right-aligned-search-results-template.php
  templates/404.html
  templates/archive.html
  templates/home.html
  templates/index.html
  templates/page-no-title.html
  templates/page.html
  templates/search.html
  templates/single.html
Labels: [Type] Enhancement

#431 Right-aligned posts: Hide the pattern from the inserter
  patterns/vertical-header-right-aligned-posts.php
Labels: [Type] Enhancement

#405 Newsletter signup: Add the aside element and translation functions
  patterns/newsletter-signup.php
Labels: [Component] Block Patterns

#414 Simplify button and link styles
  assets/css/button-outline.css
  styles/blocks/section-1.json
  styles/blocks/section-2.json
  styles/blocks/section-3.json
  styles/blocks/section-4.json
  styles/blocks/section-5.json
  theme.json
Labels: [Type] Enhancement

#427 Update: Improve "No results" order, style, and phrasing.
  patterns/hidden-sidebar.php
  patterns/news-blog-home-template.php
  patterns/news-blog-query-loop.php
  patterns/news-blog-with-featured-posts-grid-template.php
  patterns/news-blog-with-sidebar-template.php
  patterns/page-portfolio-home.php
  patterns/photo-blog-posts.php
  patterns/posts-personal-blog.php
  patterns/text-only-blog-posts.php
  patterns/vertical-header-right-aligned-posts.php
Labels: [Type] Enhancement

#295 Add theme support for post formats
  functions.php
Labels: [Type] Enhancement

#441 Add patterns for post formats Link and Audio
  functions.php
  patterns/format-audio.php
  patterns/format-link.php
Labels: [Type] Enhancement

#444 Link format: Remove trademark.
  patterns/format-link.php
Labels: [Type] Enhancement

#446 Fix: Remove icon from link format pattern for RTL purposes.
  patterns/format-link.php
Labels: [Component] Block Patterns

#450 Update Accent 6 color to work better on various backgrounds
  theme.json
Labels: [Type] Enhancement

#455 Fix wide and full width content on the default home, archive and search templates
  patterns/template-query-loop.php
Labels: [Type] Bug, [Priority] High

#453 Add writing-mode to theme.json
  theme.json
Labels: [Type] Bug

#454 Fix: Button focus styles are not visible enough
  theme.json
Labels: [Type] Bug, Accessibility (a11y)

#451 Add a 404 template to the right-aligned blog set
  patterns/template-404-vertical-header-blog.php
Labels: [Type] Enhancement

#447 Try: Move the CSS for the outline button :hover style to theme.json
  assets/css/button-outline.css
  functions.php
  theme.json
Labels: [Type] Enhancement

#456 Fix the block validation error in the link pattern
  patterns/format-link.php
Labels: [Type] Bug

#464 Various docblock changes to comply to WP's Docblocks standards
  functions.php
Labels: [Type] Documentation, [Priority] Low

#440 Try: Update the order of the section styles
  patterns/event-rsvp.php
  patterns/footer-social.php
  patterns/heading-and-paragraph-with-image.php
  patterns/hero-podcast.php
  patterns/logos.php
  patterns/overlapped-images.php
  patterns/page-link-in-bio-heading-paragraph-links-image.php
  patterns/page-link-in-bio-wide-margins.php
  patterns/page-link-in-bio-with-tight-margins.php
  styles/01-evening.json
  styles/02-noon.json
  styles/03-dusk.json
  styles/04-afternoon.json
  styles/05-twilight.json
  styles/06-morning.json
  styles/07-sunrise.json
  styles/08-midnight.json
  styles/sections/section-1.json
  styles/sections/section-2.json
  styles/sections/section-3.json
  styles/sections/section-4.json
  styles/sections/section-5.json
Labels: [Type] Enhancement, [Component] Style Variations

#457 Try to match noon and typography preset-1
  styles/02-noon.json
  styles/colors/02-noon.json
  styles/typography/typography-preset-1.json
Labels: [Type] Bug

#458 Try to match Dusk and typography preset-2
  styles/03-dusk.json
  styles/colors/03-dusk.json
  styles/typography/typography-preset-2.json
Labels: [Type] Bug

#461 Try to match Twilight and typography preset 4
  styles/05-twilight.json
  styles/colors/05-twilight.json
  styles/typography/typography-preset-4.json
Labels: [Type] Bug

#462 Try to match Morning and typography preset 5
  styles/06-morning.json
  styles/colors/06-morning.json
  styles/typography/typography-preset-5.json
Labels: [Type] Bug

#463 Try to match Sunrise with typography preset 6
  styles/07-sunrise.json
  styles/colors/07-sunrise.json
  styles/typography/typography-preset-6.json
Labels: [Type] Bug

#472 Try to match the Evening combined style with the Evening color preset
  styles/01-evening.json
  styles/colors/01-evening.json
Labels: [Type] Bug

#474 Try to match Midnight with typography preset 7
  styles/08-midnight.json
  styles/colors/08-midnight.json
  styles/typography/typography-preset-7.json
Labels: [Type] Bug
